{% extends 'base.html' %}
{% block title %}Rozpocznij ankietę - Cantril{% endblock %}

{% block content %}
  <div style="max-width:420px; margin:0 auto; padding:0 1rem;">
    <h1 class="center">Rozpocznij ankietę</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div style="margin-top:0.5rem;">
          <button class="btn" type="submit">Dalej</button>
        </div>
    </form>
    {% if form.errors %}
      <div style="color:red; margin-top:0.6rem;">
        Sprawdź błędy w formularzu.
      </div>
    {% endif %}
  </div>
{% endblock %}
