{% extends 'base.html' %}
{% block title %}Rozpocznij ankietę{% endblock %}

{% block content %}
  <h2 class="center">Rozpocznij ankietę</h2>
  <p class="center">Wprowadź PESEL i wybierz tryb ankiety</p>

  <form method="post" style="max-width:520px; margin: 1rem auto;">
    {% csrf_token %}
    {{ form.pesel.label_tag }}<br>
    {{ form.pesel }}

    <div style="margin-top:1rem;">
      <label><input type="radio" name="mode" value="cantril" checked> Cantril (skala 1-10)</label><br>
      <label><input type="radio" name="mode" value="voice"> Głosowo / Tekstowo (nagranie lub wpis)</label>
    </div>

    <div style="text-align:center; margin-top:1rem;">
      <button class="btn" type="submit">Rozpocznij</button>
    </div>
  </form>
{% endblock %}
