<!DOCTYPE html>
<html lang="pl">
<head>
  {% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>{% block title %}Cantril App{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/cantril.css' %}">
  {% block head %}{% endblock %}
</head>
<body>
  <header>
    <div>
      <a href="{% url 'home' %}" style="font-size:1.1rem; font-weight:700">Cantril</a>
    </div>
    <nav>
      <a href="{% url 'ankieta_start' %}">Ankieta</a>
      <a href="{% url 'panel_home' %}">Panel</a>
      <a href="{% url 'admin:index' %}">Admin</a>
    </nav>
  </header>

  <main>
    <div class="card">
      {% block content %}{% endblock %}
    </div>
  </main>

  <footer class="site-footer">
    © Cantril Ladder
  </footer>
  <script src="{% static 'js/ladder.js' %}"></script>
  {% block scripts %}{% endblock %}
</body>
</html>
